:root {
  --lightGreen: hsl(108 75% 65% / 1);
  --lightGreen50: hsl(108 75% 65% / .5);
  --midGreen: hsl(144 95% 22% / 1);
  --darkGreen: hsl(158 95% 11% / 1);
  --darker: #161616;
  --dark: #373737;
  --lighter: #ededed;
  --light: #dadada;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin:  0;
  background-color: var(--lighter);
  color: var(--darkGreen);
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-main {
  background-image: linear-gradient(to right, var(--midGreen), var(--darkGreen));
  color: var(--lighter);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 0 -6px 8px 2px var(--darker),
            inset 0 -6px 8px -6px var(--light);
}

.page-title {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  margin: 0px;
  display: flex;
  gap: 1em;
  font-family: 'Fredoka One', cursive;
}

.nav-link {
  cursor: pointer;
  transition: color .2s linear;
  text-shadow: -1px -1px 0px var(--darker), -1px 1px 1px var(--darker);
}

.nav-link:hover {
  color: var(--lightGreen);
}

main {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-alert {
  background-color: var(--lightGreen50);
  border: 1px dotted var(--midGreen);
  padding: .25rem .5rem;
  text-align: center;
}

.page-alert-title{
  font-weight: 700;
}

.page-alert-blob {
  font-size: .8rem;
  font-style: italic;
  margin-left: .5rem;
}

.two-col-stack {
  display: flex;
  gap: 1rem;
}

.horizontal-stack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.side-card {
  position: relative;
  margin-top: .5rem;
  flex: 1;
  min-width: 300px;
}

.content-header,
.card-header {
  color: var(--midGreen);
  margin-top: 0px;
}

.card-header {
  border-radius: 4px .6rem 4px .6rem;
  background-color: var(--darkGreen);
  color: var(--light);
  position: relative;
  z-index: 2;
  padding: .3rem 1rem;
  text-align: center;
}

.card-header::before {
  content: "";
  position: absolute;
  transform: rotate(-2deg) translateY(-.3rem);
  width: 90%;
  height: 100%;
  opacity: .9;
  box-shadow: 0 0 7px 3px var(--darkGreen),0 0 9px 6px var(--light);
    background-color: var(--midGreen);
  left: 5%;
  top: 10%;
  z-index: -1;
}

.card-body {
  margin: -1.5rem .5rem 0px;
  font-size: .8rem;
  padding: 1.5rem .5rem .5rem;
  background-image: linear-gradient(to bottom, #0000 10%, var(--light) 30%);
  border-bottom: 3px solid var(--midGreen);
  box-shadow: 0 4px 7px -3px var(--dark);
}

footer {
  background-color: var(--darkGreen);
  border-top: 2px solid var(--lightGreen);
  color: var(--light);
  padding: .5rem 1rem;
}

.flex-a {
  flex: auto;
}

@media only screen and (max-width: 650px) {
  .two-col-stack, .horizontal-stack {
    flex-direction: column;
  }
}