:root {
  --lightGreen: hsl(108 75% 65% / 1);
  --lightGreen50: hsl(108 75% 65% / .5);
  --midGreen: hsl(144 95% 22% / 1);
  --darkGreen: hsl(158 95% 11% / 1);
  --darker: #161616;
  --dark: #373737;
  --lighter: #ededed;
  --light: #dadada;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin:  0;
  background-color: var(--lighter);
  color: var(--darkGreen);
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-main {
  background-image: linear-gradient(to right, var(--midGreen), var(--darkGreen));
  color: var(--lighter);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 0 -6px 8px 2px var(--darker),
            inset 0 -6px 8px -6px var(--light);
}

.page-title {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  margin: 0px;
  display: flex;
  gap: 1em;
  font-family: 'Fredoka One', cursive;
}

.nav-link {
  cursor: pointer;
  transition: color .2s linear;
  text-shadow: -1px -1px 0px var(--darker), -1px 1px 1px var(--darker);
}

.nav-link:hover {
  color: var(--lightGreen);
}

main {
  flex: 1;
  padding: 1em;
}

.page-alert {
  background-color: var(--lightGreen50);
  border: 1px dotted var(--midGreen);
  padding: .25rem .5rem;
  text-align: center;
}

.page-alert-title{
  font-weight: 700;
}

.page-alert-blob {
  font-size: .8rem;
  font-style: italic;
  margin-left: .5rem;
}

.content-container {
  background-color: var(--lighter);
}

.two-col-stack {
  display: flex;
  gap: 1rem;
}

.content-header,
.card-header {
  color: var(--midGreen);
}

footer {
  background-color: var(--darkGreen);
  border-top: 2px solid var(--lightGreen);
  color: var(--light);
  padding: .5rem 1rem;
}

.flex-1 {
  flex: 1;
}