@import './root.css';

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	background-color: var(--layout-bg-color);
}

.wrapper {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	padding-top: var(--layout-line-thickness);
	flex-direction: column;
	border-block: .3rem solid hsl(var(--color-primary));
}

.header__container {
	display: flex;
	justify-content: center;
	background-color: hsl(var(--color-light-100));
	margin-inline: var(--layout-line-thickness);
}

.header__title {
	font-family: var(--text-title);
	color: hsl(var(--color-secondary));
	font-size: 4rem;
	margin-block: -2% -1%;
}

.nav__main {
	display: flex;
	gap: var(--layout-line-thickness);
	padding-block: var(--layout-line-thickness);
}

.nav__section {
	background-color: hsl(var(--color-light-100));
	padding: .5rem 1rem;
}

.nav__actions {
	display: flex;
	gap: .5rem;
	background-color: hsl(var(--color-light-200));
}

.nav__links {
	flex: 1;
}

.nav__icon {
	--button-size: 2.6rem;
	width: var(--button-size);
	height: var(--button-size);
	border: var(--layout-line-thickness) solid var(--layout-bg-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__icon:first-child {
	border-color: hsl(var(--color-primary));
	background-color: hsl(var(--color-accent-subtle));
}

.nav__icon:last-child {
	border-color: hsl(var(--color-accent-subtle));
	background-color: hsl(var(--color-primary));
}

.main__container {
	display: flex;
	padding-inline: var(--layout-line-thickness);
	gap: var(--layout-line-thickness);
	flex: 1;
}

.section__left {
	flex: 1;
	background-color: hsl(var(--color-primary));
}

.section__right {
	flex: 1;
	background-color: hsl(var(--color-accent-subtle));
}

.footer__container {
	color: var(--layout-font-light);
	display: flex;
	background-image: linear-gradient(
		to bottom,
		transparent 60%,
		hsl(var(--color-primary)) 98%
	);
	padding: 1rem;
	gap: .5rem;
}

.footer__section {
	flex: 1;
}


/* 
.left-triangle {
	position: absolute;
	width: 50vh;
	height: 100vh;
	background-image: linear-gradient(
		64deg,
		hsl(var(--color-primary)) 50%,
		transparent 50%
	);
	top: .3em;
	z-index: -1;
} */
/* 
.top-triangle {
	position: absolute;
	width: 100vw;
	height: 50vw;
	background-image: linear-gradient(155deg,
		hsl(var(--color-secondary)) 50%,
		transparent 50%
	);
	z-index: -1;
}

.top-bar {
	background-color: hsl(var(--color-accent-subtle));
	height: .3em;
	width: 100vw;
} */