:root {
	--color-primary: 190, 72%, 25%;
	--color-secondary: 205, 65%, 8%;

	--color-accent-subtle: 50, 84%, 73%;
	--color-accent-bold: 58, 100%, 52%;

	--color-light-100: 0,	0%,	100%;
	--color-light-200:0, 0%, 90%;
	--color-light-300: 0, 0%, 80%;
	--color-dark-100: 0, 0%, 0%;
	--color-dark-200: 0, 0%, 10%;
	--color-dark-300: 0, 0%, 20%;

	--text-title: 'Permanent Marker', cursive;

	--layout-line-thickness: .2rem;
	--layout-bg-color: hsl(var(--color-dark-200));
	--layout-font-light: hsl(var(--color-light-200));
}